<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Excellence_Adminhtml::admin" title="Geoip">
                <resource id="Excellence_Geoip::geoip" title="Geoip" sortOrder="40">
                    <resource id="Excellence_Geoip::manage" title="Geoip Module" sortOrder="10">
						<resource id="Excellence_Geoip::save" title="Save Geoip" sortOrder="10" />
                        <resource id="Excellence_Geoip::news_delete" title="Delete Geoip" sortOrder="20" />
					</resource>
                </resource>
                <resource id="Excellence_Adminhtml::stores" title="Geoip Section">
                    <resource id="Excellence_Adminhtml::stores_settings" title="Geoip Section">
                        <resource id="Excellence_Adminhtml::config" title="Geoip Section">
                            <resource id="Excellence_Geoip::config_geoip" title="Geoip Section" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
