<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="excellence_geoip_store_observer" instance="Excellence\Geoip\Observer\RedirectUrl" />
    </event>
</config>